{%- if settings.show_announcement and settings.announcement_text != blank -%}
  <div class="announcement" role="region" aria-label="Anuncio">
    {{ settings.announcement_text }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Anuncio",
  "settings": [],
  "presets": [{ "name": "Anuncio" }]
}
{% endschema %}
